<div class="about">
    <h1>ABOUT RILA <span> CARS</span></h1>
    <h4>Self<span> Driven </span> Car</h4>
    <p>Rila cars offer world-class self drive car rental services in Trichy.<br>
         We are in the top position for providing the self drive car rental in Trichy.<br>
     We have the variety of car models for your needs.<br>
      We give the more freedom to select your favourite self drive car rental in Trichy.<br>
     We provide the self drive car for wedding, outstation, tours, trip etc.
    </p>
    <p>
     We offer the self drive car rental per day and self drive car rental for a week and month etc.<br>
     We help to secure your self drive car ride than domestic car riding.<br>
     We have the well professional team to provide the information about routes and answering for your queries.<br>
     We offer the pre-booking self drive car rental services for saving your time.</p>
    <img src="../../assets/images/HuracanModelImage.jpg">
 </div>
 <br>
<br>
 <div class="backgroundTag">
   <div class="centerAlign">
  <span id="span1">Special <span>Offers and Discounts</span> for Repeated Customers</span>
  <br>
  <span id="span2">Free 24/7 <span>Contact</span> Support</span>
</div>
 </div>