<div class="contactImg">
    <img src="../../assets/images/CC23_JLJL72_2TW_PDN_APA_XXX_XXX_XXX.b6428d862e99c50299d1607a0f7e06d8.png" >
</div>
<div class="queries">
    <mat-card class="card">
        <mat-card-header>Customer Queries</mat-card-header>
        <ul>
            <li>How much rent for 1 day?</li>
            <li>It varies depends upon the various packages</li>
            <li>How much ruppee for 1000km?</li>
        </ul>
    </mat-card>
</div>


<div class="bottomFooter">
    <div class="logo">
       <h1>RILA</h1>
       <h2>CARS</h2>
   </div>
   <div class="quickLinks" style="width: 490px;">
    <h2>Quick Links</h2>
    <br>
     <ul>
        <li routerLink = "app" (click)="goToHome()">Home</li>
        <li routerLink = "cars" (click)="goToCar()">Cars</li>
        <li routerLink = "about" (click)="goToAbout()">About</li>
        <li routerLink = "contact" (click)="goToContact()">Contact</li>
     </ul>
   </div>
   <div class="contactInfo">
    <h2>Contact Info</h2>
     <mat-list>
        <mat-list-item><mat-icon color="accent" matListItemIcon>contacts</mat-icon><div class="title" matListItemTitle>For Supports and Reservations</div><div class="line" matListItemLine>8508891226</div><div class="line" matListItemLine>8428696185</div></mat-list-item>
        <mat-list-item><mat-icon class="contacts" matListItemIcon>timer</mat-icon><div class="title" matListItemTitle>The Office Hours</div><div class="line" matListItemLine>24*7</div></mat-list-item>
        <mat-list-item><mat-icon class="contacts" matListItemIcon>mail</mat-icon><div class="title" matListItemTitle>abdul3819.ar@gmail.com</div></mat-list-item>
     </mat-list>
   </div>

</div>