<div>
    <div class="carHeading">
        <h1>All <span>Cars</span></h1>
        <h2>We Have All Type Of Cars</h2>
    </div>
    <br>
    <div class="hatchBack">
     <h3>HatchBack Starts from - 1500</h3>
    </div>
    <div class="boxContainer">
    <div class="box">
        <img  src="../../assets/images/toyota-etios-liva-modified-featured.jpg">
        <h2>Liva</h2>
    </div>
    <div class="box">
        <img src="../../assets/images/800px-2011_Volkswagen_Polo_S_60_1.2_Front.jpg">
        <h2>Polo</h2>
    </div>
    <div class="box">
        <img src="../../assets/images/i20-exterior-right-front-three-quarter-7.jpeg">
        <h2>I20</h2>
    </div>
    </div>
    <br>
    <div class="Sedan">
        <h3>Sedan Starts from - 1800</h3>
       </div>
    <div class="boxContainer1">
    <div class="box1">
        <img src="../../assets/images/swift-dzire-VXI-compressed.webp">
        <h2>Dezire</h2>
    </div>
    <div class="box1">
        <img src="../../assets/images/honda_city_red_1672234560897_1677494973008_1677494973008.webp">
        <h2>City</h2>
    </div>
    <div class="box1">
        <img src="../../assets/images/047.jpg">
        <h2>Ciaz</h2>
    </div>
    </div>
    <br>
    <div class="Suv">
        <h3>Suv And Mpv Starts from - 1800</h3>
       </div>
    <div class="boxContainer2">
        <div class="box2">
            <img src="../../assets/images/maxresdefault.jpg">
            <h2>Ertiga</h2>
        </div>
        <div class="box2">
            <img src="../../assets/images/1121654-toyota-innova-hycross-front.webp">
            <h2>Innova</h2>
        </div>
        <div class="box2">
            <img src="../../assets/images/toyota-fortuner-right-front-three-quarter35.jpeg">
            <h2>Fortuner</h2>
        </div>
        </div>
    </div>
    <br>
    <br>